body .main {
    background-image: linear-gradient(white, gray);
}

.info {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
}

.info button {
    width: 70px; 
    padding: 2px 4px;
    color: white;
    background-color: green;
    border: 1px solid black;
}

.info input {
    width: 400px;
}

.error {
    color: red;
}